@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url(../img/fondo.jpg);
    background-size:contain;
}


/*INICIO DE CABEZARA O HEADER */
header{
    position: relative;
    width: 100%;
    background: rgb(54, 54, 54);
}

.titulo{
    text-align: center;
    color: white;
    padding: 10px 0;
}
header h2{
    font-size: 1rem;

}

nav{
    background: rgb(187, 187, 187);
    padding: 0.9%;
}
.navegacion{
    display: inline;
    margin:7%   ;
    font-weight: bold;
}
/*FINAL DE CABEZERA O HEADER*/


/*INICIO DE SECCION*/
.inicio{
    margin-top:  140px;
    width: auto;
    padding: 20px 150px;
    background: rgb(129, 129, 129);
}

#seccion1{
    position: relative;
    background: rgb(179, 179, 179);
    padding: 1% 3%;
}

#text{
    position: absolute;
    top: 10%;
    right: 6%;
    width: 60%;
}
/*FINAL DE LA SECCION*/

#texto-individual{
    padding: 20px 0;
    width: 100%;
    background: rgb(129, 129, 129);
    bottom: 0;
}
#texto-individual p{
    padding-left: 15px;
}
#texto-individual h2{
    padding-left: 15px;
}


/*FINAL DE LA PAG.*/

#final-de-la-pagina{
    position: relative;
    margin-top: 10%;
    padding: 3%;
    background: rgb(63, 63, 63);
    bottom: 0;
}

/*PRODUCTOS*/
.seccion-de-productos{
    margin: 5% 0;
    padding: 1%;
    width: 98%;
    height: 300px;
    background: rgb(163, 163, 163);

}
.productos{
    position: relative;
    display: inline;
    margin: 10.22222222%;
    top: 210px;
}


.sector-de-compra{
    width: 97%;
    height: 90%;
    background: rgb(196, 196, 196);
}


/*CATEGORIAS*/

#presentacion {
    width: 97.55555555%;
    text-align: center;
    background: rgba(15, 15, 15, 0.582);
    margin-top: 3rem;
    color: white;
    padding: 1rem;
}


.articulo{
    width: 600px;
    background: rgb(204, 204, 204);
    padding: 1rem;
    margin: 10% 4% 10% 4%;

}
.articulo2{
    position: absolute;
    width: 600px;
    background: rgb(204, 204, 204);
    padding: 1rem;
    right: 0;
}
.articulo2 img{
    width: 100%;
}

.articulo img {
    width: 100%;
}

#naked-text{
    padding: 1rem;
    color: rgb(255, 144, 69);
    width: 40%;
    height: 350px;
    position: absolute;
    right: 4%;
    top: 60%;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.664);

}

#enduro-text{
    padding: 1rem;
    color: #509cff;
    margin: 4%;
    width: 45%;
    height: 350px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.664);
}

#proxi{
    text-align: center;
    bottom: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
}

/*INFORMACION*/

#informacion{
    margin-top: 10%;
    padding: 1rem;
    width: 97.55555555%;
    background: rgba(218, 218, 218, 0.938);
}

#informacion2{
    margin-top:1rem ;
    padding: 1rem;
    width: 47.44444444%;
    background: rgba(218, 218, 218, 0.938);
}

#informacion2 h2{
    font-style: italic;
}

#informacion3{
    position: absolute;
    right: 0;
    top: 116.88888888%;
    width: 47.44444444%;
    height: 43.11111111%;
    padding: 1rem;
    background: rgba(218, 218, 218, 0.938);
}

/*Contacto*/

form {
    margin-top: 1rem;
    padding: 1rem;
    background: rgba(196, 196, 196, 0.897);
    width: 40%;
    height: 22rem;
}

#gmail{
    margin-left: 1rem;
    position: absolute;
    bottom: 32%;
}