@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import "./herramientas/variables-y-maps";
@import "./herramientas/mixins";

@import "./paginas/index";
@import "./paginas/productos";
@import "./paginas/categorias";
@import "./paginas/informacion";
@import "./paginas/contacto";
*{
    text-decoration: none !important;
    font-family: 'Roboto Condensed', sans-serif ;
}

/* elementos que se pueden usar para todas las paginas */

#final-de-la-pagina{
    color: white;
    padding: calc($margen-medida*2);
    background-image: linear-gradient(to left, rgb(58, 58, 58), black);
}
.explicacion{
    padding:$margen-medida;
    margin: 5em 0;
    background-image: radial-gradient(circle, rgba(151, 151, 151, 0.671),rgba(209, 209, 209, 0.425));
}

.scala-nav{
    background: white;
    transition: transform 100ms;
    &:hover{
        transform: scale(110%,120%);
        background-image: linear-gradient(360deg , $color-primario, white);
    }
}