.contenedor{
    @include flex-rows;
    background: gray;
    margin-bottom: $margen-medida;

    
    .seccion-productos{
        background: white;
        padding: $margen-medida;
        border-radius: 1em;
        width: 25%;
        margin: 1rem;


        .imagen-productos{
            width: 100%;
        }

        .boton-productos{
            margin: 0 $margen-medida;
            padding: 3px;
            border: 2px rgb(255, 38, 0) solid;
            border-radius: 8px;
            background: $color-primario;
            text-align: center;

            &:hover{
                border:2px rgb(0, 17, 255) solid;
                background: rgb(25, 60, 255);
            }
            .boton2-productos{
                color: white;
            }
        }
    }
   
}


@media(min-width:768px) and (max-width:1023px){
    
    .contenedor{
    
        flex-wrap: wrap;

        .seccion-productos{
             width: 45%;
        }
    }
}
@media(max-width:767px){
    .contenedor{

        flex-wrap: wrap;

        .seccion-productos{
            width: 95%;
        }
    }
}